@import url("https://fonts.googleapis.com/css2?family=Pathway+Gothic+One&display=swap");

:root {
  --very-light-gray: #f8f8f8;
  --light-gray: #dbdbdb;
  --darker-gray: #a9a9b5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #000000;
  font-family: "Pathway Gothic One", sans-serif;
  margin: 0;
  overflow: hidden;
  position: relative;
}

.side-bar-fixed {
  background-color: #fff;
  border-right: 1px solid var(--light-gray);
  position: fixed;
  width: 60px;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.side-bar-fixed .menu-icon {
  cursor: pointer;
}

.side-bar-fixed .menu-icon .bar {
  background-color: var(--darker-gray);
  border-radius: 2px;
  display: inline-block;
  height: 30px;
  width: 6px;
  margin: 2px;
  padding: 0;
  transition: transform 0.4s ease-in-out;
}

.side-bar-fixed .menu-icon .bar.close:first-of-type {
  transform: translateX(6.35px) rotate(45deg);
}

.side-bar-fixed .menu-icon .bar.close:last-of-type {
  transform: translateX(-6.35px) rotate(-45deg);
}

.list-container {
  background-color: var(--very-light-gray);
  position: fixed;
  top: 0;
  left: -450px;
  width: 450px;
  height: 100vh;
  transition: transform 0.5s;
  z-index: 2;
}

.list-container.open {
  transform: translate(450px, 0);
}

.form-control {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0 40px 60px;
  width: calc(450px - 60px);
}

.form-control label {
  margin-bottom: 20px;
}

.form-contor .new-task {
  display: flex;
  flex-direction: row;
  width: 300px;
}

.form-control input {
  background-color: var(--very-light-gray);
  border: none;
  border-bottom: 1px solid var(--light-gray);
  font-size: 14px;
  width: 250px;
  height: 30px;
  padding: 8px 12px;
  margin: 0 25px 0 0;
}

.form-control button.submit-btn {
  background-color: var(--very-light-gray);
  border: none;
  color: var(--darker-gray);
  cursor: pointer;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 60px;
  padding: 0;
  width: calc(450px - 60px);
}

.list .task-container {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin: 10px 0 10px 0;
  padding: 0;
}

.list .task-container p {
  margin: 0 25px 0 0;
  padding: 8px 12px;
  width: 250px;
}

.list .task-container div i {
  color: var(--light-gray);
  cursor: pointer;
  margin: 0;
  padding: 0;
  transition: color 0.3s ease-in-out;
}

.list .task-container div i:hover {
  color: var(--darker-gray);
}

h1 {
  background-color: none;
  color: var(--darker-gray);
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translateX(-50%);
  margin: 0;
  padding: 0;
  z-index: 1;
}

h1.remove-h1 {
  opacity: 0;
}

canvas {
  background-color: #fff;
  width: 100vw;
  height: 100vh;
  cursor: url("./img/pencil.png") 5 37, auto;
  touch-action: none;
}

div.clear-canvas i {
  background-color: transparent;
  color: var(--darker-gray);
  font-size: 34px;
  position: absolute;
  left: 50%;
  top: 10.5%;
  transform: translateX(-50%);
  opacity: 0;
  cursor: pointer;
  z-index: 1;
}

div.clear-canvas i.clear {
  opacity: 1;
}

div.pen-color {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

div.pen-color a {
  border-radius: 50%;
  display: inline-block;
  height: 30px;
  width: 30px;
  margin: 10px;
  transition: transform 500ms ease-in-out;
}

div.pen-color a:hover {
  transform: scale(1.3);
}

@media (max-width: 700px) {
  div.pen-color {
    flex-direction: column;
  }
}

@media (max-width: 450px) {
  .list-container {
    left: -100%;
    width: 100%;
  }

  .list-container.open {
    transform: translate(100%, 0);
  }

  .form-control {
    width: calc(100% - 60px);
    margin: 40px 0 40px 40px;
  }

  .form-contor .new-task {
    width: 200px;
  }

  .form-control input {
    width: 150px;
  }

  .list {
    width: calc(100% - 60px);
    margin: 40px 0 40px 40px;
  }

  .list .task-container {
    width: 200px;
  }

  .list .task-container p {
    width: 150px;
  }
}
